<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("includes/html-link.ejs") %>
        <title>Edit post</title>
</head>
<body>
    <div class="top">
        <h1>Edit blog</h1>
        <a href="/blogs"><i class="fa-solid fa-house"></i></a>  
    </div>
    <div id="blogs">
        <form method="post" action="/blogs/<%= post.uid %>?_method=PATCH">
            <textarea name="content" rows="6" id="editor"><%= post.content %></textarea>
            <div class="action-block">
                <button>Save changes</button>
                <a href="/blogs">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>